.Myheader {
  background-color: gray;
  padding: 20px;
  text-align: center;
  margin: auto;
  max-width: 1100px;
  align-content: center;
}

.Mycontent {
  background-color: white;
  padding: 20px;
  margin: auto;
  max-width: 1100px;
  align-content: center;
}

.Myfooter{
  background-color: gray;
  padding: 20px;
  text-align: center;
  margin: auto;
  max-width: 1100px;
  align-content: center;
  }

body {
  background-image: url('/images/bgimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 100%;
  padding: 20px;
}

h2 {
    color: black;
    font-weight: bold;
  }

  h5 {
    font-style: italic;
    font-size: smaller;
    color: black;
  }